@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//FLEX
@mixin flex-space-bw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
