//primary colors
$color-black: #000;
$color-white: #fff;
//color-pallete
$color-primary-grey: #f3f6f6;
$color-primary-teal: #30e3ca;
$color-primary-teal--dark: #11999e;
$color-primary-teal--darker: #40514e;
//gradient
//1 - for header bg
$color-grad-1__col-1: #0beef9;
$color-grad-1__col-2: #48a9fe;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 6rem;
