.operations__btn {
  padding: 1.3rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  &--1 {
    background-color: #c018da;
  }
  &--2 {
    background-color: #ff2982;
  }
  &--3 {
    background-color: #e69e32;
  }
}
.btn--submit {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.2s ease;
  background-color: $color-primary-teal--darker;
  text-decoration: none;
  color: $color-primary-teal;
  border-radius: 50px;
  border: none;
  &:hover {
    transform: translateY(-5%);
    font-weight: 700;
  }
}
.op--active {
  transform: translateY(-15%);
}
