@keyframes moveInBottom {
  0% {
    right: 10%;
    bottom: 0%;
    transform: rotate(0) scale(0.5);
    opacity: 0;
  }

  100% {
    right: 10%;
    bottom: 50%;
    transform: translateY(45%) rotate(-10deg);
    opacity: 1;
  }
}
