@keyframes moveInBottom {
  0% {
    left: 10%;
    bottom: -30%;
    transform: rotate(0) scale(0.5);
    opacity: 0;
  }

  100% {
    left: 10%;
    bottom: 50%;
    transform: translateY(45%) rotate(-10deg) scale(1.1);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  75% {
    transform: translateX(-1.5rem);
    opacity: 0.7;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveInRightTab {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-30%);
    opacity: 1;
  }
  100% {
    transform: translateX(-25%);
    opacity: 1;
  }
}
@keyframes moveInBottomTab {
  0% {
    left: 50%;
    bottom: -30%;
    transform: rotate(0) scale(0.5);
    opacity: 0;
  }

  100% {
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 45%) rotate(-10deg) scale(1.5);
    opacity: 1;
  }
}
