.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  color: $color-primary-teal--darker;
}
.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary-teal;
  &--operations {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary-teal--darker;
  }
}
.heading-tertiary {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  color: $color-primary-teal--darker;
  border-bottom: 5px solid $color-primary-teal--darker;
}
.paragraph {
  font-size: 1.5rem;
  color: $color-primary-teal--darker;
  @include respond(small-phone) {
    font-size: 1rem;
  }
}
.paragraphy {
  font-size: 2rem;
  color: $color-primary-teal--darker;
}
.feature__card__heading {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary-teal;
}
.feature__card__para {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: $color-primary-teal--darker;
}
