.container {
  max-width: 114rem;
  margin: 0 auto;
}
.features {
  margin-top: 10rem;
  padding: 3rem 2rem;
  padding-bottom: 10rem;
}
.operations {
  margin: 10rem auto;
  padding: 3rem 2rem;
  padding-bottom: 15rem;
}
.testimonials {
  padding: 3rem 2rem;
}
