.header {
  height: 100vh;

  background-color: $color-grad-1__col-1;
  background-image: linear-gradient(
    215deg,
    $color-grad-1__col-2 0%,
    $color-grad-1__col-1 64%
  );
  position: relative;
  clip-path: ellipse(100% 66% at 22% 27%);
}

.nav {
  z-index: 92437991;
  position: absolute;
  padding: 0.5rem 2rem;
  width: 100%;
  @include flex-space-bw;
  &__logo {
    width: 7rem;
    height: 7rem;
  }
  &__ul {
    list-style-type: none;
    @include flex-center;
    gap: 2rem;
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2rem;
      color: $color-primary-teal--darker;
      font-weight: 300;
    }
    &:hover,
    &:active {
      font-weight: 400;
    }
  }
}
.hero {
  max-width: 114rem;
  &__img {
    width: 28rem;
    height: 23rem;
    position: absolute;
    left: 10%;
    bottom: 50%;
    transform: translateY(45%) rotate(-10deg) scale(1.1);
    animation: moveInBottom 0.5s ease-out 0.65s;
    animation-fill-mode: backwards;
  }
  &__text-box {
    position: absolute;
    right: 0%;
    bottom: 40%;
    width: 50%;
    animation: moveInRight 0.5s ease-out 0.65s;
    animation-fill-mode: backwards;
  }
}
//sticky nav
.nav__sticky {
  z-index: 92437991;
  position: fixed;

  background-color: $color-grad-1__col-1;
  background-image: linear-gradient(
    215deg,
    ($color-grad-1__col-2) 0%,
    ($color-grad-1__col-1) 64%
  );
  opacity: 0.9;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
