.header {
  height: 100vh;

  background-color: $color-grad-1__col-1;
  background-image: linear-gradient(
    215deg,
    $color-grad-1__col-2 0%,
    $color-grad-1__col-1 64%
  );
  position: relative;
  clip-path: ellipse(100% 66% at 22% 27%);
  @include respond(tab-port) {
    height: 100rem;
  }
}

.hero {
  max-width: 114rem;
  overflow: hidden;
  &__img {
    width: 28rem;
    height: 24rem;
    position: absolute;
    left: 10%;
    bottom: 50%;
    transform: translateY(45%) rotate(-10deg) scale(1.1);
    animation: moveInBottom 0.5s ease-out 0.65s;
    animation-fill-mode: backwards;
    @include respond(tab-port) {
      left: 50%;
      bottom: 40%;
      transform: translate(-50%, 45%) rotate(-10deg) scale(1.5);
      animation: moveInBottomTab 0.5s ease-out 0.65s;
      animation-fill-mode: backwards;
    }
  }
  &__text-box {
    position: absolute;
    right: 0%;
    bottom: 40%;
    width: 50%;
    animation: moveInRight 0.5s ease-out 0.65s;
    animation-fill-mode: backwards;
    @include respond(tab-port) {
      top: 15%;
      left: 50%;
      transform: translateX(-25%);
      // width: 100%;
      animation: moveInRightTab 0.5s ease-out 0.65s;
      animation-fill-mode: backwards;
    }
  }
}
